**Recuerde no agregar o quitar celdas en este notebook, ni modificar su tipo. Si lo hace, el sistema automaticamente lo calificará con cero punto cero (0.0)**

Para resolver los problemas presentados, use el siguiente conjunto de datos. Use [gradetool](gradetool.md) para verificar las respuestas del notebook.

In [1]:
%%writefile data.tsv
B	1999-08-28	14
E	1999-12-06	12
E	1993-07-21	17
C	1991-02-12	13
E	1995-04-25	16
A	1992-08-22	14
B	1999-06-11	12
E	1993-01-27	13
E	1999-09-10	11
E	1990-05-03	16
E	1994-02-14	5
A	1988-04-27	12
A	1990-10-06	10
E	1985-02-12	16
E	1998-09-14	16
B	1994-08-30	17
A	1997-12-15	13
B	1995-08-23	10
B	1998-11-22	13
B	1997-04-09	14
E	1993-12-27	18
E	1999-01-14	15
A	1992-09-19	18
B	1993-03-02	14
B	1999-10-21	13
A	1990-08-31	12
C	1994-01-25	6
E	1990-02-09	18
A	1990-09-26	14
A	1993-05-08	16
B	1995-09-06	14
E	1991-02-18	14
A	1993-01-11	14
A	1990-07-22	18
C	1994-09-09	15
C	1994-07-27	7
D	1990-10-10	15
A	1990-09-05	11
B	1991-10-01	15
A	1994-10-25	13

Overwriting data.tsv

In [2]:
%load_ext bigdata
%hive_init

Hive initialized!

# Problema 1

Calcule la cantidad de registros por letra.

In [3]:
%%hive
-- >>> Write your answer here <<<
DROP TABLE IF EXISTS data;

CREATE TABLE data (
    letra varchar(1),
    fecha varchar(10),
    valor int)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY '\t'
LINES TERMINATED BY '\n';

LOAD DATA LOCAL INPATH 'data.tsv' INTO TABLE data;

SELECT letra, count(*) FROM data
group by letra;

A	12
B	10
C	4
D	1
E	13

# Problema 2

Construya una consulta que ordene la tabla por letra y valor (3ra columna).

In [4]:
%%hive
-- >>> Write your answer here <<<
DROP TABLE IF EXISTS data;

CREATE TABLE data (
    letra varchar(1),
    fecha varchar(10),
    valor int)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY '\t'
LINES TERMINATED BY '\n';

LOAD DATA LOCAL INPATH 'data.tsv' INTO TABLE data;

select *
from data
order by letra, valor;

A	1990-10-06	10
A	1990-09-05	11
A	1988-04-27	12
A	1990-08-31	12
A	1997-12-15	13
A	1994-10-25	13
A	1993-01-11	14
A	1992-08-22	14
A	1990-09-26	14
A	1993-05-08	16
A	1990-07-22	18
A	1992-09-19	18
B	1995-08-23	10
B	1999-06-11	12
B	1998-11-22	13
B	1999-10-21	13
B	1997-04-09	14
B	1995-09-06	14
B	1993-03-02	14
B	1999-08-28	14
B	1991-10-01	15
B	1994-08-30	17
C	1994-01-25	6
C	1994-07-27	7
C	1991-02-12	13
C	1994-09-09	15
D	1990-10-10	15
E	1994-02-14	5
E	1999-09-10	11
E	1999-12-06	12
E	1993-01-27	13
E	1991-02-18	14
E	1999-01-14	15
E	1990-05-03	16
E	1998-09-14	16
E	1985-02-12	16
E	1995-04-25	16
E	1993-07-21	17
E	1990-02-09	18
E	1993-12-27	18

# Problema 3

Escriba una consulta que devuelva los cinco valores más pequeños de la tercera columna.

In [5]:
%%hive
-- >>> Write your answer here <<<
DROP TABLE IF EXISTS data;

CREATE TABLE data (
    letra varchar(1),
    fecha varchar(10),
    valor int)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY '\t'
LINES TERMINATED BY '\n';

LOAD DATA LOCAL INPATH 'data.tsv' INTO TABLE data;

SELECT * from data
order by valor
limit 5;

E	1994-02-14	5
C	1994-01-25	6
C	1994-07-27	7
A	1990-10-06	10
B	1995-08-23	10

---

In [ ]:
!rm data.* pig_*